@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "flowbite";

@theme {
  --color-rich-black: #011627;
  --color-folly: #ff3366;
  --color-sea-green: #2ec4b6;
  --color-seasalt: #f6f7f8;
  --color-celestial-blue: #20a4f3;
}